################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp1/.vs/ConsoleApp1
/CSharpProgrammingLevel2/CSharpProgrammingLevel2/.vs/CSharpProgrammingLevel2
